#container {
    min-height: 800px;
}

/*文章*/
.article {
    /*height: 305px;*/
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 6px;
    margin: 10px 0;
}

.title {
    height: 25px;
}

.title h4 a:hover {
    text-decoration: underline;
}

.author {
    height: 25px;
}

.content {
    max-height: 190px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.star {
    height: 28px;
    margin-top: 5px;
}

.star span {
    margin-right: 15px;
}

/*分页*/

.paginate {
    margin: 20px 0;
}

.pagination {
    width: auto;
    /*margin: 0 auto;*/
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page-item {
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination .page-item a {
    color: #0d6efd;
}

.pagination .active {
    background-color: #0d6efd;
}

.pagination li.active a {
    color: #fff;
}

.pagination .page-item.pre {
    width: 118px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination .page-item.next {
    width: 118px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.pagination .page-item.disabled {
    width: 118px;
    background-color: #e9ecef;
    cursor: not-allowed;
}

.page-item.disabled a {
    cursor: not-allowed;
}

.pagination .page-item.disabled.pre {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.pagination .page-item.disabled.next {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}